.list-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.list-input-field {
    width: 100%;
    height: 2em;
    margin-left: 10px;
}

.list-input-title {
    font-size: 16px;
    margin: 0;
    width: 30%;
}

.list-category {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.list-category-final {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #9ecae1;    
}

.list-category-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.list-expansion {
    display: flex;
    flex-direction: row;    
    padding: 10px;
    width: 40%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;    
}

.add-list-button {
    width: 25px;
    height: 25px;
    padding: 0px;
}

.list-item-input-group {
    margin-right: 5px;
    width: 100%;
}

.each-list-group {
    display: flex;
    flex-direction: column;
}

.list-item-desc-or-link {
    flex-direction: column;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.item-number {
    text-align: center;
}