.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    padding: 5px;
    box-shadow: 2px 2px #9ecae1;
    background-color: #deebf7;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.app-header-item {
    font-weight: 500;
    font-size: 22px;
    color: black;  
    margin: 10px;
    padding: 10px;
}

.app-section-header {
    font-family: 'Roboto', sans-serif;
    margin: 10px; 
}

.sign-out {
    font-family: 'Roboto', sans-serif;    
}