.logo-flex {
    display: flex;
    justify-content: center;
}

.logo {
    height: 8em;
    width: 24em;
}

.primary-button {
    color: black;
    background-color: #9ecae1;
    font-family: "Roboto", sans-serif;
    box-shadow: 1px 1px #3182bd;
    font-size: 18px;
    height: 2em;
    margin: 5px;
    border-radius: 7.5px;
    padding: 5px;
}

.card-link {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.card-link:hover {
    text-decoration: none;
    color: black;
}

.masthead {
    font-family: "Lobster", cursive;
    font-size: 32px;
    padding: 3px;
    margin-top: 0;
}

.spcl-warning {
    color: red;
    font-size: 16px;
    margin-left: 10px;
}

.add-list-button {
    width: 25px;
    height: 25px;
    padding: 0px;
}

.actions-button {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 32px;
}

.list-option-title {
    font-size: 28px;
    margin: 5%;
    width: 90%;
    padding: 3%;
    height: 2.3em;
    text-align: center;
}

.list-expansion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 40%;
    height: 60%;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 5%;
    border-radius: 5%;
    border: 2px solid #deebf7;
    text-align: center;
}

.icon-group {
    margin: 0% 2%;
    padding: 0% 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-button {
    margin: 2px;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.icon-and-description {
    margin: 2%;
    text-align: center;
}

@media (max-width: 450px), (max-height: 350px) {
    .masthead {
        font-size: 24px;
    }

    .list-expansion {
        width: 90%;
    }

    .list-option-title {
        margin: 7%;
    }

    .icon-group {
        margin: 1%;
        padding: 1%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
