.content-outer-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 5%;
    padding: 2%;
}

.content-overview {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-descript-title {
    font-size: 30px;
}

.content-descript-profile {
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9ecae1;    
}

.content-sub-description {
    padding: 10px;
    font-size: 18px;
    padding-bottom: 35px;
    border-bottom: 1px solid #9ecae1; 
}

.content-image-container {
    width: 50%;
    margin: 2%;
}

.content-image {
    width: 25em;
    height: 25em;
    padding: 2em;
}

.content-links-list {
    font-size: 18px;
    padding: 10px;
    margin: 5%;
}

.content-link {
    font-size: 18px;
    padding: 10px;
}